﻿@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using manageHomework.Services;
@inject IViewLocalizer localizer 

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var urlReturn = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<form asp-controller="Home" asp-action="ChangeLanguage" asp-route-urlReturn="@urlReturn" role="form" style="display:inline;" method="post">
    <label>@localizer["Idioma"]</label>
    <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" id="culture" onchange="this.form.submit()" asp-items="Constants.CulturasUISupports"></select>
</form>