﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hola, @User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="logout" asp-controller="users">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    } else
    {
        <li class="nav-item">
            <a asp-action="signup" asp-controller="users" class="nav-link text-dark">Registro</a>
        </li>
        <li class="nav-item">
            <a asp-action="Login" asp-controller="users" class="nav-link text-dark">Login</a>
        </li>
    }
</ul>