﻿<label> <i class="bi bi-paperclip"></i> Archivos adjuntos</label>

<button onclick="manageClickAddAttachment()" class="btn btn-secondary btn-sm"><i class="bi bi-plus"></i></button>
<input type="file" onchange="manageSelectFiles(event)" id="attachments-input" multiple style="display:none" />

<div data-bind="foreach: attachments">
    <div>
        <div style="cursor:pointer" data-bind="text: title, hidden: modeEdition, click: manageClickTitleAttachment" class="fw-bold"></div>
        <div data-bind="visible: modeEdition, event: { focusout: manageFocusTitleAttachment}">
            <input type="text" name="txtAttachmentTitle" class="form-control" data-bind="value: title, attr:{'data-id': id}" />
        </div>
        <div>
            Agregado <span data-bind="text: publish"></span> - 
            <span class="fw-bold" style="cursor:pointer" data-bind="click: manageDeleteAttachment">Borrar</span> - 
            <span data-bind="click: manageDownloadAttachment" class="fw-bold" style="cursor: pointer;">Descargar</span>
        </div>
    </div>
</div>