﻿<div class="modal fade" id="modal-edit-homework" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-homework-title" data-bind="text:title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtTitleEditHomework" placeholder="title" data-bind="value:title, event: {change: onchageEditHomework}" />
                            <label for="txtTitleEditHomework">Titulo de la tarea</label>
                        </div>
                        <div class="mb-3">
                            <label>Descripcion</label>
                            <textarea class="form-control" rows="4" data-bind="value: description, event: {change: onchageEditHomework}"></textarea>
                        </div>
                        <div class="mb-3">
                            <partial name="_Steps" />
                        </div>
                        <div class="mb-3">
                            <partial name="_Attachments" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-secondary mb-2 w-100 text-start" data-bind="event:{ click: tryDeleteHomework }">
                            <i class="bi bi-x-lg"></i>
                            Borrar tarea
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>