﻿<label>
    <i class="bi bi-check-square"></i> Pasos de la tarea
</label>
<button class="btn btn-secondary btn-sm" onclick="manageClickAddStep()">
    <i class="bi bi-plus"></i>
</button>

<div id="reordenable-steps" data-bind="foreach: steps">
    <div class="mt-2">
        <div class="row">
            <div class="col-1">
                <input type="checkbox" class="form-check-input" name="chbStep" data-bind="checked: completed, click: manageClickCheckboxStep, attr: {'data-id': id}" />
            </div>
            <div class="col-11">
                <span style="cursor:pointer" data-bind="text:description, hidden: modeEdition, css: {'text-decoration-line-through': completed }, click:manageClickDescriptionStep"></span>
                <textarea name="txtStepDescription" class="form-control" placeholder="Agregue la descripcion" data-bind="{value:description, visible: modeEdition}"></textarea>


                <div class="mt-2" data-bind="{visible: modeEdition}">
                    <button class="btn btn-primary" data-bind="{click: manageClickSaveStep}">Guardar</button>
                    <button class="btn btn-secondary" data-bind="{click: manageClickCancelStep}">Cancelar</button>
                    <button class="btn btn-danger" data-bind="{hidden: isNew, click: manageClickDeleteStep}">Borrar</button>
                </div>

            </div>
        </div>
    </div>
</div>