﻿@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Mis tareas"]</h1>
</div>

<div class="text-center">
    <button type="button" class="btn btn-primary mb-3" onclick="addNewHomework()">
        @localizer["Agregar nueva tarea"]
    </button>
</div>

<div id="container-list-homework" class="text-center">
    <div id="reordenable" class="text-start" data-bind="foreach: homeworks">
        <div name="homework" class="border mb-2 p-2" style="cursor:pointer;" data-bind="click: onClickHomework">
            <div data-bind="text: title, hidden: isNew" class="fw-bold"></div>
            <div name="steps-summary" data-bind="visible: totalSteps() > 0">
                <span data-bind="text: totalCompletedSteps"></span>/
                <span data-bind="text: totalSteps"></span>
                <span data-bind="text: percentage"></span>
            </div>

            <input type="text" name="title-homework" autocomplete="off" data-bind="value: title, visible: isNew, attr: {'data-id': id}, event: {focusout: onFocusOutHomework}" />
        </div>
    </div>
    <div data-bind="visible: loading" class="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div data-bind="visible: notHomeworks">
        No existe tareas para mostrar
    </div>
</div>

<partial name="_ModalEditHomework" />

@section Scripts {
    <script src="~/js/utilities.js" asp-append-version="true"></script>
    <script src="~/js/homework.js" asp-append-version="true"></script>
    <script src="~/js/steps.js" asp-append-version="true"></script>
    <script src="~/js/attachments.js" asp-append-version="true"></script>
    <script>

        const urlHomeworks = "api/homeworks";
        const urlSteps = "api/steps";
        const urlFiles = "api/files";
        const containerListHomework = document.querySelector("#container-list-homework");
        const modalEditHomework = document.querySelector("#modal-edit-homework");
        const modalEditBootstrap = new bootstrap.Modal(modalEditHomework);

        function homeworkListViewModelFn() {
            var self = this;

            self.homeworks = ko.observableArray([]),
            self.loading = ko.observable(false),

            self.notHomeworks = ko.pureComputed(function(){
                if(self.loading()){
                    return false;
                }
                return self.homeworks().length == 0;
            });
        }
        function homeworkItemViewModel({id, title, totalSteps, totalCompletedSteps}){
            var self = this;

            self.id = ko.observable(id);
            self.title = ko.observable(title);
            self.totalSteps = ko.observable(totalSteps),
            self.totalCompletedSteps = ko.observable(totalCompletedSteps)
            self.isNew = ko.pureComputed(function(){
                return self.id() == 0;
            });
            self.percentage = ko.pureComputed(function(){
                const calculate = Math.round(self.totalCompletedSteps() * 1.0 / self.totalSteps() * 100);
                return `(${calculate}%)`;
            });
        }


        const homeworkListViewModel = new homeworkListViewModelFn();
        const homeworkEditViewModel = {
            id: 0,
            title: ko.observable(''),
            description: ko.observable(''),
            steps: ko.observableArray([]),
            attachments: ko.observableArray([])
        };

        function stepViewModelFun({id, description, completed, modeEdition}){
            var self = this;
            self.id = ko.observable(id || 0);
            self.description = ko.observable(description);
            self.completed = ko.observable(completed);
            self.modeEdition = ko.observable(modeEdition);
            self.oldDescripion = ""; // almacena la descripcion anterior
            self.isNew = ko.pureComputed(function(){
                return self.id() == 0;
            });
        }

        function attachmentViewModel({id, title, publish, modeEdition, order, url}){
            let self = this;
            self.id = id;
            self.title = ko.observable(title || "");
            self.publish = publish;
            self.modeEdition = ko.observable(modeEdition);
            self.order = order;
            self.url = url;
        }

        // execute
        GetHomeworks();
        ko.applyBindings(homeworkListViewModel, containerListHomework)
        ko.applyBindings(homeworkEditViewModel, modalEditHomework);
    </script>
    
}
