﻿@model UserListViewModel

@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "../Shared/_Layout";
}

@if (Model.Message != null)
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
}

@if (Model.Users != null)
{
    <h1>Listado de usuarios</h1>
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Accion</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            <button class="btn btn-primary me-2" asp-action="DoAdmin" asp-route-email="@user.Email">Hacer Admin</button>
                            <button class="btn btn-danger me-2" asp-action="RemoveAdmin" asp-route-email="@user.Email">Remover Admin</button>
                        </td>
                        <td>
                            @user.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

}
else
{
    <p>No hay usuarios para mostrar</p>
}