﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>


@if (ViewData.Keys.Contains("message"))
{
    <p class="text-danger">@ViewData["message"]</p>
}

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-secondary" asp-action="Login">Ir a Registro</a>
            </div>
            <div class="mb-3">
                <a class="btn btn-success" asp-action="ExternalLogin" asp-controller="Users" asp-route-provider="Microsoft">Continuar con microsoft</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}