﻿@model SignUpViewModel
@{
    ViewData["Title"] = "Registro";
}
<h1>Registrarse</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a class="btn btn-secondary" asp-action="Login">Ir a login</a>
            </div>
            <div class="mb-3">
                <a class="btn btn-success" asp-action="ExternalLogin" asp-controller="Users" asp-route-provider="Microsoft">Continuar con microsoft</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}